<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../../../assets/images/imagem 5.PNG"></div>
      <div class="swiper-slide"><img src="../../../assets/images/imagem 14.PNG"></div>
      <div class="swiper-slide"><img src="../../../assets/images/imagem 19.PNG"></div>
      <div class="swiper-slide"><img src="../../../assets/images/imagem 20.PNG"></div>
      <div class="swiper-slide"><img src="../../../assets/images/imagem 3.PNG"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next" matTooltip="Próximo" (click)="nextSlide()"></div>
  <div class="swiper-button-prev" matTooltip="Voltar" (click)="previousSlide()"></div>
  </div>
