<div class="content">

  <header>
    <h1 class="title Dosis"> Como funciona </h1>
  </header>

  <section>

    <div class="buttons_icon">
      <div class="card_btn">
        <button>
          <img src="../../../assets/images/envelope.png" alt="">
        </button>
      </div>

      <div class="card_btn">
        <button>
          <img src="../../../assets/images/download.png" alt="">
        </button>
      </div>

      <div class="card_btn">
        <button>
          <img src="../../../assets/images/heart.png" alt="">
        </button>
      </div>
    </div>

    <div class="card_left">
      <div class="box_text_gray">
        <h2>O conteúdo chega no seu e-mail</h2>
        <p>
          O conteúdo é totalmente digital e após a compra será enviado ao seu e-mail, para seu total conforto.
        </p>
      </div>
      
      <div class="box_text_gray">
        <h2>Baixe as apostilas</h2>
        <p>
          O conteúdo estará em pdf’s, você pode imprimir ou apenas anotar o material utilizado para a confecção dos jogos.
        </p>
      </div>

      <div class="box_text_gray">
        <h2>Depois é só realizar</h2>
        <p>
          Após ter feitos os jogos, basta por em prática os jogos e notar o desenvolvimento dos pequenos.
        </p>
      </div>
    </div>
  </section>

  <!-- <div class="btn_buy">
    <a target="_blank" href="https://pay.hotmart.com/N76101170A?checkoutMode=10">
        <button>
            <span class="Tiro"> COMPRE AGORA </span>
            <img src="../../../assets/images/cart.png" alt="">
        </button>
    </a
    >
  </div> -->
</div>
