<main>
    <section id="content">
      <div class="title">Perguntas frequentes</div>
      
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              O PRODUTO CHEGA NA MINHA CASA? PRECISA DO MEU ENDEREÇO?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>Não, o produto não chegará na sua casa. O produto é TOTALMENTE DIGITAL e chegará no seu e-mail.</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              PARA QUAL FAIXA ETÁRIA O PROJETO ACESSAR JOGOS EDUCATIVOS É INDICADO?
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>Nosso material é indicado para crianças de todas as idades, 
            obviamente alterando os assuntos e dificuldades de acordo com a habilidade das crianças. 
            Os jogos podem até ser utilizados por adultos que tenham também alguma dificuldade no aprendizado, 
            ou seja, o projeto acessar é para TODOS.</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              POR QUANTO TEMPO TEREI ACESSO AOS MATERIAIS? 
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>Acesso vitalício, ou seja, ao adquirir nosso material você poderá usá-lo quantas vezes quiser.</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              QUAIS AS FORMAS DE PAGAMENTOS? 
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>Você pode pagar no boleto à vista ou em até 4x no cartão de crédito. 
            Ao pagar no cartão você recebe imediatamente todo o material, 
            já no boleto você recebe assim que o pagamento for confirmado pelo banco.</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              TEREI ALGUM SUPORTE? 
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? '' : ''}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>Sim, qualquer dúvida ou suporte que precisar basta nos mandar um e-mail para: 
            suportejogoseducativos@gmail.com ou nos chamar no whatsapp (21) 96915-9150</p>
        </mat-expansion-panel>
      </mat-accordion>
      
    </section>
  </main>
  