<div class="content">
    <div class="warranty-content">

        <div class="text Delicious">
            Achou que o conteúdo das apostilas não contemplou
            a necessidade do seu filho?
            Sem problemas, você tem uma garantia de
            7 dias para a satisfação ou seu dinheiro de volta.
        </div>

        <div class="image-right">
            <img src="../../../assets/images/selo-de-qualidade_1.png" class="img-fluid"/>
        </div>
    </div>

    <div class="images">
        <div class="image_one">
            <img src="../../../assets/images/criancasbrincando.png" alt="">
        </div>

        <div class="image_one">
            <img src="../../../assets/images/brincar.png" alt="">
        </div>
    </div>
</div>