* {
  outline: none !important;
  scroll-behavior: smooth;
}

html, body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


section{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

mat-toolbar {
  background: var(--color_two);
}

mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-toolbar-row a img {
  width: 60px;
  object-fit: cover;
}

.links_nav {
  display: flex;
  gap: 20px;
}

.links_nav a {
  font-size: 14px;
  cursor: pointer;
}

.links_nav a:hover {
  opacity: 0.7;
}

.card_bids {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all .2s;
  z-index: 999 !important;
  animation: move_bid 5s infinite;
}

@keyframes move_bid {
  0% {
      bottom: 20px;
  }
  10% {
      bottom: 60px;
      transform: scale(1) rotate(30deg);
  }
  15% {
      bottom: 20px;
      transform: scale(1.05) rotate(-45deg);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  }
  20% {
      bottom: 25px;
      transform: scale(1) rotate(0deg);
  }
  25% {
      bottom: 20px;
      transform: scale(1.05) rotate(-45deg);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  }
  30%{
      transform: scale(1) rotate(0deg);
  }
  100% {
      bottom: 20px;
  }
}

.card_bids:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: all .2s;
}

.card_bids img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  aspect-ratio: 2/2;
  object-fit: contain;
}

main{
  position: relative;
  overflow-x: hidden;
  background: var( --color_two );
  z-index: 9;
}

@media screen and (max-width: 500px) {
  .links_nav a {
    font-size: 12px;
    cursor: pointer;
  }
}