<div class="content">
    <div class="header">
        <div class="logo_and_text">
            <img class="image" src="../../../assets/images/Artboard 1 (2).png" alt="">

            <div>
                <p class="text-one">
                    Transforme a educação do seu filho com nossa plataforma líder em alfabetização e superação de dificuldades escolares. 
                    Garantimos que seu filho aprenda de forma efetiva e se divirta no processo.
                </p>
            </div>
        </div>

        <div class="card_video">
            <img src="../../../assets/images/smart mobile phonepng.png" class="smart_phone">

            <iframe #video 
            src="https://www.youtube.com/embed/R93ZAPAzvsU" 
            title="Acessar Jogos Educativos" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
        </div>

        <div class="text_after_video">
            <p class="second_text_video Tiro">
                Nossa plataforma educacional é cuidadosamente projetada para ajudar seu filho a superar dificuldades 
                escolares e aprimorar suas habilidades de aprendizagem..
            </p>
        </div>

        <div class="btn_buy_green">
            <a target="_blank" href="https://pay.hotmart.com/N76101170A?checkoutMode=10">
                <button>
                    <span class="Tiro"> Eu quero as apostilas </span>
                    <!-- <img src="../../../assets/images/cart.png" alt=""> -->
                </button>
            </a
            >
          </div>
    </div>

    <img src="../../../assets/images/scroll-down.gif" class="card_scrool">

</div>