<section>
    <div class="content">
            <div class="text-content">
                <div class="texts">
                    <div class="title">
                        <span class="Tiro">Certificado exclusivo</span>
                    </div>
        
                    <div class="text">
                        Sim, após a conclusão de todos os conteúdos disponibilizados,
                        você também poderá imprimir um lindo e exclusivo certificado
                        para que seu pequenino se sinta muito feliz e motivado
                        a sempre ser um estudante de primeira !
                    </div>
                </div>
            </div>

            <div class="certificate_and_button">
                <div class="btn_buy">
                    <a target="_blank" href="https://pay.hotmart.com/N76101170A?checkoutMode=10">
                      <button>
                        <span class="Tiro">Eu Quero!</span>
                      </button>
                    </a>
                    <div class="arrow-gif">
                        <img src="../../../assets/images/arrow.gif" class="img-fluid"/>
                    </div>
                </div>
        
            <div class="certificates">
                <div class="certificate-one">
                    <img src="../../../assets/images/certificate_one.png" class="img-fluid"/>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="card">
        
                <img src="../../../assets/images/image_1.jpeg" class="img-fluid"/>
        
                <div class="card-body Tiro">
                  Professores(a) qualificados
                </div>
              </div>
        
              <div class="card">
                <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                  <img class="img-2" src="../../../assets/images/image_2.jpeg" class="img-fluid"/>
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body Tiro">
                  Diversidade de materiais
                </div>
              </div>
        
              <div class="card">
                <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                  <img class="img-3" src="../../../assets/images/image_3.jpeg" class="img-fluid"/>
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body Tiro">
                  Aulas descontraídas
                </div>
              </div>
        </div>

        <div class="title_final">
          Pensou que acabou? Temos algumas
          surpresinhas para vocês!
      </div>
    </div>
</section>