<div class="content">
    <section>
        <div class="text Tiro">
            <span>
                Quer tirar alguma dúvida conosco? Envie um e-mail para
            </span>
            <span>
                <strong>
                    suportejogoseducativos@gmail.com
                </strong>
                ou acesse nosso whatsapp e inicie uma conversa.
            </span>
        </div>

        <div class="wpp">
            <div class="wpp-image">
                <img src="../../../assets/images/whatsapp-icone-1.png" class="img-fluid"/>
            </div>
            <div class="buy-now">
                <a target="_blank" href="https://wa.me/message/MTZCHRAK7FG7G1">
                  <button>
                    <span class="Tiro">Inicie uma conversa</span>
                  </button>
                </a>
            </div>
        </div>

        <!-- <div class="timer_title">
            <h2>O tempo está acabando</h2>
            <p>Você vai ficar de fora ?</p>
        </div> -->

        <!-- <div class="countdown">
            <div class="hours">
                <h1 id="horas">00</h1>
                <p>Horas</p>
            </div>
            <div class="hours">
                <h1  id="minutos">00</h1>
                <p>Minutos</p>
            </div>
            <div class="hours">
                <h1 id="segundos">00</h1>
                <p>Segundos</p>
            </div>
        </div> -->
    </section>
</div>