<div class="content">
    <section>
        <div class="text Tiro">
            <span>
                Quer tirar alguma dúvida conosco? Envie um e-mail para
            </span>
            <span>
                <strong>
                    suportejogoseducativos@gmail.com
                </strong>
                ou acesse nosso whatsapp e inicie uma conversa.
            </span>
        </div>

        <div class="wpp">
            <div class="wpp-image">
                <img src="../../../assets/images/whatsapp-icone-1.png" class="img-fluid"/>
            </div>
            <div class="buy-now">
                <a target="_blank" href="https://wa.me/message/MTZCHRAK7FG7G1">
                  <button>
                    <span class="Tiro">Inicie uma conversa</span>
                  </button>
                </a>
            </div>
        </div>
    </section>
</div>