<div class="content">
    <div class="title Delicious">
        Na compra das apostilas você ganha um bônus, 
        uma apostila de inclusão com jogos para alunos(as) com deficiência ou dificuldades no aprendizado.
    </div>

    <div class="sale-price">
        <div class="first-offer">
            <span class="Tiro">
                De: R$: 137,00
            </span>
            <p class="Tiro">
                Por apenas: R$ 57,00 à vista:
            </p>
        </div>

        <div class="second-offer">
            <span class="Tiro">
                ou
            </span>
            <p class="Tiro">
                4x de R$ 15,29
            </p>
        </div>

        <div class="buy-now">
            <a target="_blank" href="https://pay.hotmart.com/N76101170A?checkoutMode=10">
                <button>
                <span class="Tiro">Comprar agora</span>
                </button>
            </a>
        </div>
    </div>

</div>