.video-content {
  padding: 0px 100px 30px;
	font: 30px/1 sans-serif;
  color: var( --color_two );
}

.content {
  position: relative;
  width: 100%;
  /* background: rgb(20, 109, 37); */
  background: var( --color_two );
  padding: 80px 0;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-right: 150px;
}

.title {
  font-size: 60px !important;
  color: #fff;
  width: max-content;
  font-weight: bold;
  font-family: 'Dosis', sans-serif !important;
}

.text_line{
  font-size: 30px;
  max-width: 90%;
  text-align: center;
  margin-right: 150px;
  margin-bottom: 60px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif !important;
  color: rgb(163, 10, 163) !important;
  font-weight: bold;
  animation: flipTitle var( --time_animation );
}

.video-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.text_line{
  font-size: 20px;
  max-width: 90%;
  text-align: center;
  line-height: 1.6;
}

@media (max-width: 457px) {
  .video-content {
  padding: 0px 10px 30px;
	font: 30px/1 sans-serif;
  color: var( --color_two );
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 20px;
}

  header h1 {
    font-size: 20px !important;
    width: 100%;
    text-align: center !important;
  }

  .text_line {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}