<div class="content">
  <div class="video-content">
    <header>
      <h1 class="title">Conheça o projeto acessar jogos educativos</h1>
    </header>

    <p class="text_line">
      CONHEÇA NOSSAS ATIVIDADES
    </p>
  </div>

  <div class="cards">
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/10418872_581242005323875_3599794545099278994_n.jpg">
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/20151104_084803.jpg">
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/20170830_081930.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
</div>
</div>
