<div class="content">
  <header>
    <h1 class="title Dosis">Benefícios</h1>
  </header>

  <section>
    <div class="card_left">
      <div class="box_text_gray">
        <h2 class="Delicious">REFORÇO ESCOLAR</h2>
        <p>
          As apostilas de jogos educativos serve como reforço escolar na
          educação infantil, o seu pequeno está com dificuldades em aprender
          determinadas atividades? Essa é a oportunidade ideal para você
          ajudá-lo
        </p>
      </div>

      <div class="box_text_gray">
        <h2 class="Delicious">REDUCAÇÃO NAS DIFICULDADES ESCOLARES</h2>
        <p>
          Com as apostilas de jogos educativos você pode trabalhar os pontos em
          que seu pequeno encontra mais dificuldade, acabando de vez com as
          dúvidas e dificuldades no processo da alfabetização dos pequenos.
        </p>
      </div>

      <div class="box_text_gray">
        <h2 class="Delicious">ACELERA A ALFABETIZAÇÃO</h2>
        <p>
          Deseja turbinar a alfabetização do pequeno? Uma das maiores
          dificuldades quando fala em alfabetização é o tempo a longo prazo, e
          talvez essa demora pode ser pelo método usado. As apostilas vai te
          ajudar a encurtar esse prazo.
        </p>
      </div>

      <div class="box_text_gray">
        <h2 class="Delicious">PROPORCIONA UM ENSINO ATRATIVO</h2>
        <p>
          Nosso material desperta o interesse de aprender cada dia mais,
          mantendo seu pequeno motivado e focado no aprendizado.
        </p>
      </div>
    </div>
  </section>
</div>
