<main>
    <section id="content">
        <header>
            <h1>
                O que contém no projeto?
            </h1>
        </header>

        <div class="cards_content">
            <div class="card_project">
                <img src="../../../assets/images/imagem 9-min.png" alt="">

                <label>
                    Apostilas com jogos educativos
                </label>
            </div>

            <div class="card_project">
                <img src="../../../assets/images/imagem 10-min.png" alt="">

                <label>
                    Desenvolvimento de habilidades incríveis
                </label>
            </div>
        </div>

        <div class="cards_content_two">
            <div class="card_project">
                <img src="../../../assets/images/imagem 11-min.png" alt="">

                <label>
                    Diversos tipos de atividades
                </label>
            </div>

            <div class="card_project">
                <img src="../../../assets/images/imagem 12-min.png" alt="">

                <label>
                    bônus incríveis para o seu pequeno(a).
                </label>
            </div>
        </div>
    </section>
</main>