main {
    width: 100%;
    margin: 0;
    height: 200vh;
    background: rgba(4, 110, 209, 0.767);
}

#content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 50px;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

header h1 {
    font-size: 51px;
    color: #fff !important;
    font-weight: bold;
    font-family: 'Dosis', sans-serif !important;
}

.cards_content {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
}

.cards_content_two {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
}

.card_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 390px;
    padding: 30px;
    background: #fff;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card_project img {
    width: 511px;
    height: 950px !important;
    object-fit: cover;
}

.card_project label {
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
}

@media screen and (max-width: 500px) {
    main {
        height: 150vh;
    }

    #content {
        gap: 0px;
    }

    header h1 {
        font-size: 31px !important;
    }

    .cards_content, .cards_content_two {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px !important;
        padding: 35px !important;
        justify-content: center;
    }

    .card_project {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        height: 200px;
        padding: 30px;
        border-radius: 16px;
    }

    .card_project img {
        width: 200px;
        object-fit: cover;
    }

    .card_project label {
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        color: #000;
    }
}

@media screen and (max-width: 1100px) {
    .cards_content, .cards_content_two {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 120px;
    padding: 110px;
    justify-content: center;
}
}